<% include require %>
  <div class="container my-5">
      <h1 class="text-center"> Page admin </h1>
      <h2> Que voulez-vous faire ?</h2>
      <ul>
        <li><a href="."> Create a pokemon </a></li>
        <li><a href="."> Update a pokemon </a></li>
        <li><a href="."> Delete a pokemon </a></li>
        <li><a href="."> Modify my password </a></li>
        <li><a href="."> Delete my account </a></li>
      </ul>
  </div>
<% include footer %>
