<footer>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="d-flex justify-content-center">
          <span class="text-muted text-center">Place sticky footer content here.</span>
        </div>
      </footer>
</footer>