<% include require %>
  <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      
      Ceci est un site crée de toute pièce par Jérémy LARDENOIS pour son projet WOA <br/>
      Il est encore en construction :) 
LOGO : <img src="/images/favicon.ico" alt="une pokeball">
  </div>
<% include footer %>
