<% include require %>
    <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        
        Ceci est la page des pokemons <br/>
        <%- content %>
    </div>
<% include footer %>
