<% include require %>
    <div class="container my-5 pb-5">
        <h1 class='text-center'><%= title %></h1>
        <%- content %>
        <div class="text-center">
            <a href="/random"><button class="btn btn-primary my-3 "> Get a new random pokemon </button></a>
        </div>
    </div>
<% include footer %>
