<% include require %>
    <div class="container my-5 pb-5">
        <h1 class='text-center'><%= title %></h1>
        <p>Welcome to <%= title %></p>
        
        Ceci est la page des pokemons <br/>
        <%- content %>
    </div>
<% include footer %>
